body, html {
  margin: 0;
  padding: 0;
}

.el-checkbox.el-checkbox--large {
  height: auto!important;
  margin-bottom: 12.5px;
}

.el-checkbox__label, .el-switch__label {
  font-size: 12px!important;
  color: #333;
  font-weight: 400!important;
}

// .el-checkbox__label {
//   color: #333!important;
// }

.el-switch__label {
  position: relative;
  top: 1px;
}